<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Accounts</title>
  </head>
  <body>
    <h1>All Accounts</h1>
    <div>
      <ul>
        <% for(const account of accounts) { %>

        <li><%= account.site_name %></li>

        <% } %>
      </ul>
    </div>
  </body>
</html>
